# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://username:password@localhost:5432/products_show_development?schema=public"
NEXTAUTH_SECRET="hey"
FLATFILE_API_KEY='sk_...'
FLATFILE_ENVIRONMENT_ID='us_env_...'
FLATFILE_PROJECT_NAMESPACE='plmproject'
FLATFILE_EMBED_NAMESPACE='plmembedded'
FLATFILE_FILEFEED_NAMESPACE='plmfilefeed'
FLATFILE_DYNAMIC_NAMESPACE='plmdynamic'
NEXT_PUBLIC_FLATFILE_NAMESPACE='plmproject'
NEXT_PUBLIC_FLATFILE_PUBLISHABLE_KEY='pk_...'
NEXT_PUBLIC_FLATFILE_ENVIRONMENT_ID='us_env_...'
NEXT_PUBLIC_APP_ID='products-show'
LISTENER_AUTH_TOKEN='token'
NEXT_PUBLIC_GOOGLE_DRIVE_FILE_ID='1mUeqmEUvYzqHPxOo0OUS_My4oJTzo-RX'
GOOGLE_DRIVE_FILE_ID='1mUeqmEUvYzqHPxOo0OUS_My4oJTzo-RX'
GOOGLE_DRIVE_API_KEY='...'
