@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button-bg {
  background: linear-gradient(93.58deg, #363e52 -2%, #2b3242 117.56%);
  box-shadow: 8.74046516418457px 9.711627960205078px 18.45209312438965px 0px
    #3d49644d inset;
  @apply inline-flex flex-row justify-center items-center px-8 py-4 font-semibold rounded-xl cursor-pointer hover:brightness-90;
}