@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  @apply text-text-primary-dark;
}

.button-bg {
  box-shadow: 8.74046516418457px 9.711627960205078px 18.45209312438965px 0px
    #3d49644d inset;
  @apply text-white bg-button-primary inline-flex flex-row justify-center items-center px-8 py-4 font-semibold rounded-xl cursor-pointer hover:brightness-90;
}

.button-bg span {
  @apply text-white;
}

.icon-project-onboarding path {
  @apply fill-project-onboarding;
  fill-opacity: 1;
}

.icon-file-feed path {
  @apply fill-file-feed;
  fill-opacity: 1;
}

.icon-embedded-portal path {
  @apply fill-embedded-portal;
  fill-opacity: 1;
}

.icon-dynamic-portal path {
  @apply fill-dynamic-portal;
  fill-opacity: 1;
}

.nav-separator {
  @apply text-[10px] uppercase mb-2 pl-2 text-text-primary-dark;
}

.nav-item {
  @apply hover:bg-bg-primary-dark text-text-primary-dark hover:text-text-primary-dark flex items-center px-3 py-2 text-sm rounded-md;
}
.nav-item.active {
  @apply bg-bg-primary-dark text-text-primary-dark;
}

.nav-item svg {
  @apply fill-text-primary-dark group-hover:fill-white w-[20px] h-[20px] mr-3;
}
.nav-item.active svg {
  @apply fill-text-primary-dark;
}

.card-bg {
  box-shadow: 0px 48px 48px 0px #00000033;
  @apply p-6 md:p-10 rounded-xl bg-bg-primary-lighter;
}

.card-bg.light-shadow {
  box-shadow: 0px 12px 12px 0px #00000033;
}

.card-sm {
  @apply px-3 py-4;
}

.ui-table thead th {
  @apply bg-bg-primary-light p-4 text-left text-sm font-semibold;
}

.ui-table,
.ui-table tbody {
  @apply divide-y divide-bg-primary-light;
}

.ui-table tbody tr td {
  @apply bg-bg-primary-lighter whitespace-nowrap p-4 text-sm font-medium;
}

.ui-table tbody tr td a {
  @apply underline;
}

.ui-table {
  @apply rounded-lg;
}
.ui-table tr:first-child th:first-child {
  @apply rounded-tl-lg;
}
.ui-table tr:first-child th:last-child {
  @apply rounded-tr-lg;
}
.ui-table tr:last-child td:first-child {
  @apply rounded-bl-lg;
}
.ui-table tr:last-child td:last-child {
  @apply rounded-br-lg;
}

/** Resource Index */

.resource-index-table thead th {
  @apply bg-bg-primary-light  p-4 text-left text-sm font-semibold;
}

.resource-index-table,
.resource-index-table tbody {
  @apply divide-y divide-[#282F3F];
}

.resource-index-table tbody tr td {
  @apply bg-bg-primary-lighter  whitespace-nowrap p-4 text-sm font-medium border-none;
}

.resource-index-table tbody tr td.secondary {
  @apply text-text-primary-dark;
}

.resource-index-table tbody tr td a {
  @apply underline;
}

.resource-index-table {
  @apply rounded-lg;
}
.resource-index-table tr:first-child th:first-child {
  @apply rounded-tl-lg;
}
.resource-index-table tr:first-child th:last-child {
  @apply rounded-tr-lg;
}
.resource-index-table tr:last-child td:first-child {
  @apply rounded-bl-lg;
}
.resource-index-table tr:last-child td:last-child {
  @apply rounded-br-lg;
}

/** Resource show page */

.resource-show {
  @apply shadow rounded-lg overflow-hidden max-w-2xl;
}

.resource-show > div {
  @apply space-y-4;
}

.resource-show > div:first-child {
  @apply bg-bg-primary-light  p-4 text-left text-sm font-semibold;
}

.resource-show > div:last-child {
  @apply bg-bg-primary-lighter  whitespace-nowrap p-4 text-sm font-medium;
}

.resource-show dl {
  @apply space-y-4;
}

.resource-show dl div {
  @apply flex flex-row justify-between items-center;
}

.resource-show dl dt {
  @apply divide-y divide-[#282F3F] text-text-primary-dark;
}

.resource-show h3 {
  @apply text-xl font-semibold;
}

.resource-show p {
  @apply text-xs text-text-primary-dark;
}

.blob {
  width: 10px;
  height: 10px;
  @apply rounded-[50%] mr-4;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
}

.flatfile_iframe-wrapper {
  height: 100% !important;
  width: 100% !important;
  margin-top: 0px !important;
}

.flatfile_primary {
  @apply bg-dynamic-portal;
}
